extends ../main.layout.pug

block variables
  - var title = 'Блог'

block scripts
  script(src='blog.bundle.js')

block content
    .blog-wrapper
      .parallax.parallax--blog
        .parallax-layer
          img.parallax__layer-img.img-modify1(src="./assets/images/layer-1.png", alt="")
        .parallax-layer
          img.parallax__layer-img.img-modify2(src="./assets/images/layer-2.png", alt="")
        .parallax-layer
          img.parallax__layer-img(src="./assets/images/layer-3.png", alt="")
        .parallax-layer
          img.parallax__layer-img(src="./assets/images/layer-4.png", alt="")
        .parallax-layer
          img.parallax__layer-img.img-modify5(src="./assets/images/layer-5.png", alt="")
        .parallax-layer
          img.parallax__layer-img(src="./assets/images/layer-6.png", alt="")
        .parallax-layer
          img.parallax__layer-img(src="./assets/images/layer-7.png", alt="")
        .parallax-layer
          img.parallax__layer-img.img-modify8(src="./assets/images/layer-8.png", alt="")
        .parallax-layer
          img.parallax__layer-img(src="./assets/images/layer-9.png", alt="")
        .parallax-layer
          img.parallax__layer-img(src="./assets/images/layer-10.png", alt="")
      header.header.header--blog
          .user-wrap
            .user
              .user__photo
                img.img-border(src="./assets/images/mefunn.jpg", alt="")
              span.user__name Михаил Голубов
              span.user__profession Личный сайт веб разработчика
          .page-background
          .header__arrow-down
          .navigation
              .navigation-container
                button.hamburger.hamburger--collapse#ClosedMenu(type='button')
                  span.hamburger-box
                    span.hamburger-inner
                .navigation-open#OpenMenu
                  .navigation-links
                    ul.navigation-links__wrapper
                      li.navigation-links__elem.link-elem--1
                        a.navigation-anchor(href="works.html")
                          p.links-text Мои работы
                      li.navigation-links__elem.link-elem--2
                        a.navigation-anchor(href="blog.html")
                          p.links-text Блог
                      li.navigation-links__elem.link-elem--3
                        a.navigation-anchor(href="about.html")
                          p.links-text Обо мне
                      li.navigation-links__elem.link-elem--4
                        a.navigation-anchor(href="#")
                          p.links-text Авторизация
          .header-socials
              .socials
                .social.social--vk
                  a.svg-vk(href="about.html")
                    svg.svg__icon-vk
                      use(xlink:href='./assets/images/icons/sprite.svg#vk')
                .social.social--github
                  a.svg-github(href="#")
                    svg.svg__icon-github
                      use(xlink:href='./assets/images/icons/sprite.svg#github')
                .social.social--in
                  a.svg-in(href="#")
                    svg.svg__icon-in
                      use(xlink:href='./assets/images/icons/sprite.svg#in')
      .content-section
        .blog-container#blogContainer
          .column.column-left#leftElem
            button.button-blog#blogButton
            .left-elem.left-elem--active
              .left-elem__text
                a.blog-anchor(href="#blogElem1") Самое важное в SASS
            .left-elem
              .left-elem__text
                a.blog-anchor(href="#blogElem2") Приёмы в вёрстке,без которых не обходится ни один сайт
            .left-elem
              .left-elem__text
                a.blog-anchor(href="#blogElem3") Самый необходимый набор Gulp плагинов
            .left-elem
              .left-elem__text
                a.blog-anchor(href="#blogElem4") Почему я выбрал Jade
          .column.column-right#rightElem
            .right-elements#blogElem1
              .right-content__name
                span.content__name Самое важное в SASS
              .right-content__date 
                span.content__date 22 ноября 2016
              .right-content__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur delectus, nesciunt cupiditate et enim cumque nisi quod, laudantium eum officiis animi debitis veniam laboriosam praesentium eveniet ab expedita quaerat.
              .right-content__img
                img.blog-img(src="./assets/images/screen__blog.png", alt="")
            .right-elements#blogElem2
              .right-content__name
                span.content__name Самое важное в SASS
              .right-content__date 
                span.content__date 22 ноября 2016
              .right-content__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur delectus, nesciunt cupiditate et enim cumque nisi quod, laudantium eum officiis animi debitis veniam laboriosam praesentium eveniet ab expedita quaerat.
            .right-elements#blogElem3
              .right-content__name
                span.content__name Самое важное в SASS
              .right-content__date 
                span.content__date 22 ноября 2016
              .right-content__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur delectus, nesciunt cupiditate et enim cumque nisi quod, laudantium eum officiis animi debitis veniam laboriosam praesentium eveniet ab expedita quaerat.
            .right-elements#blogElem4
              .right-content__name
                span.content__name Самое важное в SASS
              .right-content__date 
                span.content__date 22 ноября 2016
              .right-content__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur delectus, nesciunt cupiditate et enim cumque nisi quod, laudantium eum officiis animi debitis veniam laboriosam praesentium eveniet ab expedita quaerat.
      footer
          footer.footer.footer-blog
            .footer-contacts
              .footer-left-contacts
                ul.footer-link
                  li
                    a.footer__anchor(href="works.html") Мои работы
                  li
                    a.footer__anchor(href="about.html") Обо мне
                  li
                    a.footer__anchor(href="blog.html") Блог
                  li
                    a.footer__anchor(href="#") Авторизация
              .footer-right-contacts
                .footer-socials
                  .about-footer-socials
                    a.svg__icon-footer(href="#")
                      svg.svg-icon.svg-icon_vk
                        use(xlink:href='./assets/images/icons/sprite.svg#vk')
                    a.svg__icon-footer(href="#")
                      svg.svg-icon.svg-icon_vk
                        use(xlink:href='./assets/images/icons/sprite.svg#github')
                    a.svg__icon-footer(href="#")
                      svg.svg-icon.svg-icon_vk
                        use(xlink:href='./assets/images/icons/sprite.svg#in')
            .footer-copyright
              .footer-copyright-left
                span.make__in Я веб-разработчик из Кишинева, и этот сайт я сделал,<br>в рамках обучения в Школе онлайн образования LoftSchool. 
              .footer-copyright-right
                span.make__off © Голубов Михаил | создано с любовью в LoftSchool | 2019

