script(type="text/x-template")#skills-list
    .div
        ul.skills-list
            li.skills-list__item test


script(type="text/x-template")#skills-list__item
  .skllls-row
    .skills-list__title
    ul.skills
      li.skills-list__item


script(type="text/x-template")#skill
  .skill
    svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
      circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
      circle(cx="50" cy="50" r="40").skill__circle.skill__circle_above
    .skill__title