@media (min-width: 320px) {
    
}

@media (min-width: 480px) {
    top: 10%;
}

@media (min-width: 480px) {
    top: 10%;
}

@media (min-width: 480px) {
    top: 10%;
}


@media (min-width: 1200px) and (max-width: 1800px) {
    color: #fff;
}

@media (min-width: 768px) and (max-width: 1200px) {
    color: #fff;
}

@media (min-width: 320px) and (max-width: 768px) {

}