.footer-copyright-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    margin-right: 50px;
    @media (min-width: 768px) and (max-width: 1200px) {
       margin: 0;
       justify-content: center;
       text-align: center;
    }
    @media (min-width: 320px) and (max-width: 768px) {
        margin: 0;
        width: 92%;
        text-align: center;
    }
}
.footer-copyright-left{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin-left: 40px;
    @media (min-width: 768px) and (max-width: 1200px) {
        width: 100%;
        margin: 0;
        justify-content: center;
        text-align: center;
    }
    @media (min-width: 320px) and (max-width: 768px) {
        margin: 0;
        width: 92%;
        text-align: center;
    }
}
.make__in .make__off{
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 23.97px;
}