.parallax{
    position: absolute;
    top: 0;
    left: -5vw;
    width: 110vw;
    height: auto;

}

.parallax-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.parallax__layer-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10vh;
}
.img-modify1{
    top: 0 !important;
}