.skills-container{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.skills__row{
    display: flex;
}
.skill__name{
    display: flex;
}

.name__row{
    position: absolute;
    color: #455a64;
    font-family: Roboto;
    top: -10px;
    left: 10px;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
}
.skills__row{
    position: relative;
}
.skills-container{
    height: 70%;
}
.skill__percent-circle::before{
    content: "";
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 20px solid #dfdcd5;
    left: 35px;
    top: 35px;
}