.circle-chart__circle {
  animation: circle-chart-fill 4s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}
@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; } 
}
.circle__container{
  display: flex;
  position: relative;
  margin-right: 30px;
  @media (min-width: 768px) and (max-width: 1200px) {
    margin-right: 40px;
}
@media (min-width: 320px) and (max-width: 768px) {
  margin: 15px 15px;
}
}

.skills-rows{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 100px;
  width: 100%;
  @media (min-width: 320px) and (max-width: 768px) {
    align-items: center;
    justify-content: center;
  }
}
.skills-row{
  display: flex;
  width: 100%;
  position: relative;
  @media (min-width: 768px) and (max-width: 1200px) {
    justify-content: center;
}
@media (min-width: 320px) and (max-width: 768px) {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
}
.name__circle{
  position: absolute;
  top: -50px;
}
h3.name__circle{
  color: #455a64;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  @media (min-width: 768px) and (max-width: 1200px) {
    font-size: 21px;
  font-weight: 500;
  line-height: 27.91px;
}
}
.skill__name-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3.skill__name-text{
  color: #00bfa5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.circle-chart{
  @media (min-width: 320px) and (max-width: 768px) {
    width: 100px;
    height: 100px;
  }
}