.about__right-content{
    display: flex;
    width: 100%;
}
.skills{
    display: flex;
}

.skills-list__item{
    margin: 20px 0px;
}
.skills-list__item{
    margin-right: 5%;
}

.skills-list__title{
    color: #455a64;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px
}