
.works-wrapper{
    display: flex;
    position: relative;
    width: 100vw;
    height: auto;
    flex-direction: column;
}
.works{
    overflow: hidden;
}

.b-works-form__blur{
    z-index: 1;
    position: absolute;
    background-image: url(assets/images/bg-comment.png);
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(12px);
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    bottom: 0;
}

.label-form{
    z-index: 5;
}
#textareaMessage{
    z-index: 5;
}
.form__contact{
    z-index: 5;
}